:root {
  --medgray: #3c4042;
  --darkgray: #202124;
  --lightgray: #606368;
  --pink: #ea80fc;
  --white: #fff;
}

body {
  height: 100vh;
  background-image: url("images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: var(--darkgray) !important; */
}

.header {
  background-color: var(--darkgray);
  height: 100px;
  color: var(--white);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  /* color: rgb(30, 32, 62); */
  /* color: var(--white);
  text-shadow: 0 0 15px black;
  font-family: Arial;
  font-size: 450% !important;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 900; */
  font-family: Arial;
  font-size: 37px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700 !important;

  /* padding-top: 1%;
  padding-bottom: 1%; */
}

.list-group {
  margin-top: 5% !important;
  opacity: 0.8;
  background-color: var(--medgray);
  padding: 0 !important;
}

.list-group-item {
  color: var(--white) !important;
  background-color: var(--medgray) !important;
  width: 100%;
  font-size: 150%;
}

.warInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flagImage {
  width: 50px;
  height: 50px;
  margin: 0 10px;

  border-radius: 5px;
}

.list-group-item-action:hover {
  background-color: var(--darkgray) !important;
}
