:root {
  --medgray: #3c4042;
  --darkgray: #202124;
  --lightgray: #606368;
  --pink: #ea80fc;
  --white: #fff;
}
/* font-family: Arial;
  font-size: 37px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700; */

* {
  color: var(--white);
  font-family: Arial;
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
  border: 0 !important;
}
.Info {
  width: 100%;
  background-color: var(--darkgray);
  height: 100px;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hide {
  display: none !important;
}

#BattleName {
  font-family: Arial;
  font-size: 37px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

#State,
#Round {
  font-family: Arial;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.fightdisplay {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("./media/images/map.png");
  height: 100vh !important;
  background-color: var(--lightgray);
}

#enemyLeft {
  position: absolute;
  top: 100px;
  left: 0%;
}

#enemyRight {
  position: absolute;
  top: 100px;
  right: 0%;
}

.enemy {
  width: 50%;
  height: 100%;
}

.container {
  height: 100vh;
}

body {
  margin: 0;
}

img {
  height: 200px;
}

.card {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.card img {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.card-body {
  background-color: var(--darkgray);
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 37px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.head {
  background-color: var(--medgray);
}

ul {
  background-color: var(--medgray) !important;
  margin-bottom: 20px !important;
}

li {
  color: var(--white) !important;
  background-color: var(--lightgray) !important;
}

/*-------GRID--------*/
.fightingMap {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--darkgray);
  padding: 10px;
  position: absolute;
  left: 38%;
  top: 25%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--darkgray) !important;
  padding: 20px;
  font-size: 30px;
  width: 200px;
  height: 200px;
  text-align: center;
}
